* {
    box-sizing: border-box;
  }
  
  html, body 
  {
    margin: 0;
    background-color: #0A0A0A;
    height: 100%;
  }
  
  h1,h2
  {
      font-family:Andale Mono;
      color: #33ccff;
  }
  
  /* Style the header */
  header {
    /* background-color: #f8cba1; */
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    top: 0;
  /*  position: fixed;*/
    width: 100%; /* Full width */
    height: auto;
  }
  
  header h1{
      padding: 0;
      margin: 0;
  }

  footer {
    /* background-color: #f1f1f1; */
    padding-bottom: 10px;
    text-align: center;
    font-size: 10px;
    height: 50px;
    color:#33ccff;
  }
  
  #mainContent{
      width: 100%;
      height: auto;
      min-height: 50%;
      padding-top: 10px;
      padding-bottom:10px;
      padding-left: 5px;
      padding-right: 5px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      /* background-color: white; */
  }
  
  #mainContent:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column1 {

    width: 100%;
    padding-bottom: 70px;
    
  }

  .column1 p
  {
    font-family:Andale Mono;
    color: #ffb31a;
    font-size: 20px;
  }

  #column1_l,#column1_r{
    float: left;
    width: 50%;
  }

  #column1_r label{
    font-family:Andale Mono;
    font-size: 15px;
    color:white;
  }


  /* pull down list */
  #sel_date,#sel_time{
    width:30%;   
    font-family:Andale Mono;
    color:black;
   }
  #sel_time{
    width:20%; 
      
   }
   #btn_submit{
    font-family:Andale Mono;
    color:black;
   }

   /* table */
  table{
    width: 100%; 
    table-layout: fixed;
    
  }

  table, th, td {
    border-bottom: 1px solid rgb(71, 69, 69);
    border-top: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    padding-right: 10px;
    padding-left: 10px;
    color: #d3c7c7;
}
th {
  font-family:Andale Mono;
  background-color: #2a345e;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
}
#th_title
{
  text-align: left;
}

td{
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}
tr:hover {background-color:#75736d;}

#table_title
{
  width: 60%;
}
#table_time,#table_room,#table_type,#table_submissions
{
  width: 60%;
}

#table_submissions,#table_type,#table_room,#table_time
{
  text-align: center;
}
.sub_row,.sub_row td
{
  background-color: #7c7b79;
  color: black;
}

